body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#topTen > li {
    list-style-type: none;
    margin-left: -25px;
    padding-top: 5px;
}